*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  height: 50px;
  background-color: #ff9a4b;
}

main{
  width: 960px;
  margin: 50px auto;
  display: flex;
}

footer{
  height: 50px;
  background-color: #aaaaaa;
}


.step-box{
  width: 300px;
  padding: 10px;
  margin-right: 30px;
  background-color: #eee;
  position: relative;
}

.img-1{
  height: 150px;
  background-image: url(img/flow01.png);
  background-size: cover;
  background-position: bottom;
}

.step1{
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ff9a4b;
  color: #fff;
}

.title-text{
  padding-top: 15px;
  padding-bottom: 5px;
}

.img-2{
  height: 150px;
  background-image: url(img/flow02.png);
  background-size: cover;
  background-position: bottom;
}

.img-3{
  height: 150px;
  background-image: url(img/flow03.png);
  background-size: cover;
  background-position: bottom;
}

.step-box:nth-child(3){
  margin-right: 0;
}
